/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* body{
  margin: 0%;
  margin-top: 12%;
  background-size: cover;
} */

.card1 {
    margin-top: 100px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    font-family: 'Times New Roman', Times, serif;
    transition: 0.3s;
    border-radius: 20px;
   width: 300px;
   height: 400px;
    text-align: center;
    margin: 70px auto 50px;
  }
  .email1{
    position: relative;
    margin: 40px 100px 0 0;
    font-size: 17px;
  }
  .password1{
    position: relative;
    margin: 40px 130px 0 0;
    font-size: 17px;
  }
  .input01{
  margin: 30px 0 10px 0;
  }
  .input02{
    margin: 30px 0 10px 0;
    }
    .icons1{
      border-radius: 50px 50px 50px 50px;
      width: 35px;
      height: 35px;
      position: relative;
      margin: 10px 5px 10px 10px;
      padding: 3px 0 3px 0;
    }
  .form-control1{
   
    border-radius: 10px;
    width: 210px;
    padding: 7px;
  }
  .buttonIn1 {
    width: 300px;
    position: relative;
    
  }
  #eye1{
    margin: 0 ;
              width: 210px;
              outline: none;
              height: 35px; 
              border-radius: 10px; 
  }
  .eye1{
    background-color:black;
    color: white;
    position:absolute;
    z-index: 2;
              border-radius: 5px;
              border: none;
              top: 2px;
              margin:0 100px 2px 0;
              height: 30px;
              width: 30px;
              cursor: pointer;
              transform: translateX(2px);
  }
  #Forget1{
    font-size: 12px;
    margin: 0 0 10px 70px;
  }
  .loginform-button1{
    background-color: blue;
    color: aliceblue;
   
    border-radius: 8px;
    position: relative;
    width: 100px;
    padding: 5px;
    margin: 20px 0 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .loginform-button1:hover{
    background-color: rgb(8, 8, 186);
  }
  

  